<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itstime.haejo">

    <application
        android:name=".util.AppSetting"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Haejo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".study.StudyApplyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".study.StudyMakeSurveyActivity"
            android:exported="false" />
        <activity
            android:name=".study.StudyMakeActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageBookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypagePostActivity"
            android:exported="false" />
        <activity
            android:name=".study.StudyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".begin.BeginSetProfileActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageStudyActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageCommentActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageSetting"
            android:exported="false" />
        <activity
            android:name=".BeginActivity"
            android:exported="false" />
        <activity
            android:name=".begin.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>